# RewriteEngine On
# RewriteBase /

# # Redirige toutes les demandes vers index.php sauf si le fichier ou le répertoire existe physiquement
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php [QSA,L]

# # Ajoutez des règles pour les pages spécifiques
