body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    /* background-color: black; */
}


ul{
    display:flex;
}

li{
    list-style: none;
    margin-left: 2%;
    
}
a{
    text-decoration: none;color: rgb(0, 0, 0);
}

#container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    /* background-color: red; */
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-titre{
    margin-top: 2%;
  
}

#container-image{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titre-color{
    margin-top: 10%;
}

#bouton-ajouter-image{
  margin-top: 5%;
}
input{
    border-radius: 5px;
}

#input-ajouter-image{
    border-radius: 10px;
    cursor: pointer;
}
#bouton-ajouter-image:hover{
  align-items: center;
  justify-content: center;
}
#bouton-ajouter-image:hover{
    background-color: aquamarine;
}

#container-background{
    margin-top: 2%;
    /* margin-bottom: 3%; */
}
img{
    width: 10%;
   
}

#bouton-form{
    margin-bottom: 1%;
}

/* #container-image-db{
    display: none;
} */
.image{
    display: flex;
    align-items: center; 
}

/* Masquer le texte "Choisir un fichier" dans les champs de téléchargement de fichier */
.input-image {
    display: none;
}
.flex-start {
    display: flex;
    justify-content: flex-start !important;
    margin-left: 5%;
}

.flex-end {
    display: flex;
    justify-content: flex-end !important;
    margin-right: 5%;
}

/* #fichier-image{
    display: none;
} */



/* #contain-images .image:first-child {
    
    justify-content: flex-end;
}

#contain-images .image:nth-child(n+2) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+3) {
    justify-content: flex-end;
}
#contain-images .image:nth-child(n+4) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+5) {
    justify-content: flex-end;
}
#contain-images .image:nth-child(n+6) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+7) {
    justify-content: flex-end;
}
#contain-images .image:nth-child(n+8) {
    justify-content: flex-start;
}
#contain-images .image:nth-child(n+9) {
    justify-content: flex-end;
} */