/* *{
    border: 1px solid red;
} */
@font-face {
    font-family: 'montserrat'; 
    src: url('../ressources/font-family/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'); /
}
body{
    margin: 0;
    padding: 0;
    font-family:'montserrat';
    /* background: #969696;
    background-image: url("../../assets/ressources/body/ZenBG-admin.png"), url("../../assets/ressources/body/ZenBG-admin2.png");
    background-repeat: repeat-x, repeat; */

    background:#878181;
}

#navbar{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex; /* Utilisez flex pour centrer horizontalement */
    align-items: center;
}

ul{
    display: flex;
    padding: 0;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    /* margin-left: 2%; */
    width: 100%;
}

li{
    list-style: none;
    color: white;
    margin-left: 5%; /* Espace entre les éléments li */
    width: auto;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#administrateur{
    background-color:rgb(172, 158, 158);
}
h1{
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

#container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 3%; */
    /* background-color: #5b5b5b; */
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-titre{
    margin-top: 2%;
    display: flex;
    justify-content: center;
  
    align-items: center;
    flex-direction: column;
}

#container-image{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-ajout-image{
    display: flex;
    flex-direction: column;
}
#bouton-ajouter-image{
  margin: 1% auto;
}
#message-alert-image{
    margin: 1%;
    color: rgb(224, 27, 27);
    text-align: center;
}
input{
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 1em;
    padding: 5px;
    /* padding: 0; */
}

#input-ajouter-image{
    border-radius: 5px;
    cursor: pointer;
}
#bouton-ajouter-image:hover{
  align-items: center;
  justify-content: center;
}
.bouton-supprimer-image:hover{
background-color: rgb(227, 39, 39);
color: white;
}
.bouton-modifier-image:hover{
    background-color: rgb(83, 128, 192);
    color: white;
}
button{
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    padding: 5px;
}
button:hover{
    border-radius:5px;
    background-color: rgb(83, 128, 192); /* Change la couleur de fond */
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5); /* Ajoute une ombre */
      color: white;
}

#container-background{
    margin-top: 2%;
   
}
img{
    width: 15%;
   
}

#bouton-form{
    margin-bottom: 1%;
}

#container-image-db{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image{
    display: flex;
    align-items: center; 
}

/* Masquer le texte "Choisir un fichier" dans les champs de téléchargement de fichier */
.input-image {
    display: none;
}
.flex-start {
    display: flex;
    justify-content: flex-start !important;
    margin-left: 5%;
}

.flex-end {
    display: flex;
    justify-content: flex-end !important;
    margin-right: 5%;
}

#fichier-image{
    display: none;
}



@media (min-width: 320px) and (max-width: 425px){

#navbar{
    justify-content: center;
    display: flex; /* Utilisez flex pour centrer horizontalement */
}

ul{
    display: flex !important;
    justify-content: center;
    padding: 0;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    /* margin-left: 2%; */
    margin: 0;
   width: 100%;
}

li{ 
    text-align: center;
    margin: 0;
    width: 100%;

}
a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  
}
#container-image-db{
    display: flex;
    flex-direction: column;
}
.flex-start {
    justify-content: center !important;
    margin: 0;
}

.flex-end {
    justify-content: center !important;
    margin: 0;
    flex-direction: row-reverse;
}
img{
    width: 30%;
}
button{
    width: auto;
    font-size: 12px;
}

}

@media (min-width: 426px) and (max-width: 767px) {
    #navbar{
        background-color: black;
        height: 50px;
        justify-content: center;
        display: flex; /* Utilisez flex pour centrer horizontalement */
        /* align-items: center; */
    }
    
    ul{
        display: flex;
        justify-content: center;
        padding: 0;
        /* white-space: nowrap; Empêche le texte de se retourner à la ligne */
        /* margin-left: 2%; */
        margin: 0;
       
    }
    
    li{
        text-align: center;
        margin: 0;
        width: 100%;
    }
  
    a{
        font-size: 16px;
        text-decoration: none;
        color: rgb(255, 255, 255);
      
    }
    /* #container-image-db{
        display: flex;
        flex-direction: column;
    } */
    .flex-start {
        justify-content: center !important;
        margin: 0;
    }
    
    .flex-end {
        justify-content: center !important;
        margin: 0;
        flex-direction: row-reverse;
    }
    img{
        width: 30%;
    }
    button{
        width: auto;
        font-size: 12px;
    }

}