@font-face {
    font-family: 'montserrat'; 
    src: url('../ressources/font-family/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'); /
}
body{
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2.5em;
    font-family: 'montserrat';
}

#container-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: auto;
    border: 2px solid black;
    background-color: rgb(173, 173, 190);
}
#loginForm{
    border: 2px solid black;
    border-radius: 10%;
    padding:50px;
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-family: 'montserrat';
    color: white;
}
input{
    border-radius: 10px;
    background-color: white;
    font-size: 1em;
}

#button{
    font-family: 'montserrat';
    cursor: pointer;
    
}
#button:hover{
    background-color: rgb(97, 89, 89);
}

.message-alert{
    color:red;
    font-family: 'montserrat';
    font-size: 1.3em;
}